<div class="navbar-mobile navFooter">
  <div class="navFooter__item" routerLinkActive="active">
    <i class="fas fa-calendar-alt fa-2x ic"></i>
    <a [routerLink]="'organizador'" class="name t-small">Organizador</a>
    <span class="detail t-smaller"></span>
  </div>
  <div class="navFooter__item" routerLinkActive="active">
    <i class="fas fa-hand-holding-usd fa-2x ic"></i>
    <a [routerLink]="'pagos'" class="name t-small">Pagos</a>
    <span class="detail t-smaller"></span>
  </div>
  <div class="navFooter__item" routerLinkActive="active">
    <i class="fas fa-briefcase fa-2x ic"></i>
    <a [routerLink]="'productos'" class="name t-small">Productos</a>
    <span class="detail t-smaller"></span>
  </div>
  <div class="navFooter__item" routerLinkActive="active">
    <i class="fas fa-exchange-alt fa-2x ic"></i>
    <a [routerLink]="'transferencias'" class="name t-small">Transferencias</a>
    <span class="detail t-smaller"></span>
  </div>
  <div class="navFooter__item" routerLinkActive="active" (click)="showMenuFull()">
    <i class="fas fa-bars fa-2x ic"></i>
    <a class="name t-small" >Más</a>
    <span class="detail t-smaller"></span>
  </div>
</div>
