<div class="myCard">
  <div class="myCard__head">
    <i class="fas fa-piggy-bank fa-2x myIcon"></i>
    <a href="#" class="myLink" data-toggle="modal" data-target="#exampleModal">Ver detalle</a>
  </div>
  <div class="myCard__body">
    <div class="myCard__title">
      <div class="t-bigger t-dark">
        <b>Cuenta de ahorros</b>
      </div>
      <div class="t-small t-light">
        Nro. 1271928731
      </div>
    </div>
    <div class="myCard__description">
      <div class="t-normal t-light">
        Saldo disponible:
      </div>
      <div class="t-xnormal t-dark">
        <b>$5'352.000,00</b>
      </div>
    </div>
  </div>
  <div class="myCard__details--column">
    <div class="details-content">
      <div class="t-small t-light">
        Plazo:
      </div>
      <div class="t-small t-dark">
        <b>90 días</b>
      </div>
    </div>
    <div class="details-content">
      <div class="t-small t-light">
        Fecha de vencimiento:
      </div>
      <div class="t-small t-dark">
        <b>28/Jun/2019</b>
      </div>
    </div>
  </div>
  <div class="myCard__details--row">
    <div>
      <div class="t-small t-light">
        En bolsillos:
      </div>
      <div class="t-normal t-dark">
        <b>$2'000.000,00</b>
      </div>
    </div>
    <div>
      <div class="t-small t-light">
        Saldo total:
      </div>
      <div class="t-normal t-dark">
        <b>$7’351.000,00</b>
      </div>
    </div>
  </div>
  <div class="myCard__foot">
    <button type="button" class="myButton__primary">Pagar</button>
    <div class="progress" style="height: 15px;">
      <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
         75%
      </div>
    </div>
  </div>
</div>