@import '../../../assets/scss/utils/layout';
@import '../../../assets/scss/utils/effects';
@import '../../../assets/scss/utils/fonts';
.myCard{
  width: 230px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: white;
  @include shadowSoft;
  @include transitionSoft;
  &:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.15);
  }
  .myCard__head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  .myCard__body{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    text-align: left;
    .myCard__title{
      margin-bottom: 15px;
    }
    .myCard__description{
    }
  }
  .myCard__details--column{
    margin-bottom: 15px;
    @include d-flex-c;
    text-align: left;
    .details-content{
      margin-bottom: 5px;
      *:first-child{
        margin-right: 5px;
      }
    }
  }
  .myCard__details--row{
    margin-bottom: 15px;
    @include d-flex-r;
    justify-content: space-between;
  }
}