$c-primary: #183F68;
$c-danger: #D12B0B;

$c-myButton__primary: $c-primary;
$t-myButton__primary: #fff;

$c-myButton__primary--hover: darken($c-myButton__primary, 5%);

$c-myButton__primary--disabled: #E8E8E8;
$t-myButton__primary--disabled: #999999;

$t-link__active: #D8E7F6;
$t-link__inactive: #7786A2;
$t-link__hover: #649EDB;

$c-navF__item--active: #21578F;