@import "../assets/scss/utils/media";

.n-notification{
  display: block;
  @include bkp-large(){
    display: none;
  }
  @include bkp-xlarge(){
    display: none;
  }
}
.n-desktop{
  display: none;
  @include bkp-large(){
    display: block;
  }
  @include bkp-xlarge(){
    display: block;
  }
  width: 100%;
  height: 100%;
}

.n-mobile{
  display: none;
  @include bkp-medium(){
    display: block;
  }
  @include bkp-small(){
    display: block;
  }
  @include bkp-xsmall(){
    display: block;
  }
}