<div class="myBanner">
  <h5 class="myBanner__mensaje t-blue t-xnormal">
    ¿Cómo se ven tus finanzas?
  </h5>
  <div class="myBanner__info">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let t of total">
          <div class="info">
            <div class="info__text t-blue t-small">
              En productos de {{t.type}} tienes:
            </div>
            <div class="info__value t-blue t-bigger">
              <b>$ {{t.total}}{{t.currencyCode}}</b>
            </div>
          </div>
        </div>
      </div>
      <!-- Add Arrows -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>