<div class="row">
  <div
    class="col-lg-12 col-xl-12 d-none d-sm-none d-md-none d-lg-block d-xl-block my-3">
    <div class="topbar">
      <h3 class="t-bigger t-dark">
        Buenos días, John
      </h3>
      <div class="menu-right">
        <div class="menu__item">
          <div class="t-xnormal">Perfil</div>
          <i class="fas fa-user-circle ic"></i>
        </div>
        <div class="menu__item">
          <div class="t-xnormal">Alertas</div>
          <i class="far fa-bell ic"></i>
          <span class="badge noti-badge">4</span>
        </div>
        <div class="menu__item">
          <div class="t-xnormal">Salida segura</div>
          <i class="fas fa-sign-out-alt ic"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mx-auto">
    <div class="dropdown show-banks-mobile shadow-sm">
      <a class="btn btn-block dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <b>¿Qué banco quieres ver?</b>
      </a>
      <div class="dropdown-menu shadow" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" *ngFor="let b of nameBanks" (click)="showBankDropdown($event,b)">{{b}}</a>
      </div>
    </div>
  </div>
</div>

<div class="row my-3">
  <div class="col-12">
    <div id="bankToShow" class="bank-section hideBank">
      <div class="title" *ngIf="!bankShow">
        <b class="text-center mb-2 w-100" >{{emptyData}}</b>
      </div>
      <div class="title" *ngIf="bankShow">
        <i class="fas fa-university fa-2x mr-3"></i>
        <b>{{titleBank}}</b>
      </div>
      <div class="row mt-3">
        <div class="col-12">
          <app-banner></app-banner>
        </div>
      </div>
      <div class="row my-4">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 my-3" *ngFor="let types of typesAccounts">
          <div class="bank__product">
            <div class="title">
              <b>{{'typeAccount.' + types.type | translate}}</b>
            </div>
            <div class="product-resume">
              <app-product-resume [accountsList]="types.accounts"></app-product-resume>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="{{dataModal['idModal']}}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Información de cuenta: <b>{{dataModal['idModal']}}</b></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <pre>
          {{dataModal['account']|json}}
        </pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>