@import "../../../../assets/scss/utils/layout";
@import "../../../../assets/scss/utils/variables";
@import "../../../../assets/scss/utils/fonts";
@import "../../../../assets/scss/utils/effects";
@import "../../../../assets/scss/utils/media";
@import "../../../../assets/scss/utils/mixins";


.show-banks{
  @include f-center-between();
  justify-content: flex-start;
  .bank-group{
    @include f-center-between();
    margin: 0px 10px;
  }
  .text{
    margin-right: 5px;
  }
}

.show-banks-mobile{
  .btn{
    background-color: white;
    border: 1px solid #D6D6D6;
    border-radius: 3px;
    color: #989898;
    @include f-roboto;
    font-weight: 400;
    text-align: left;
    &::after{
      right: 10px;
      position: absolute;
      top: 15px;
    }
  }
  .dropdown-menu{
    width: 100%;
    @include shadowHard;
    .dropdown-item{
      padding-top: 1rem;
      padding-bottom: 1rem;
      @include f-roboto;
      font-weight: 200;
      &.active{
        font-weight: 600;
        color: #4B6185;
        background-color: #D8E7F6;
      }
    }
  }
}

.bank-section{
  background-color: white;
  border: 1px solid #7786A2;
  border-radius: 5px;
  padding: 15px 15px;
  height: 100%;
  max-height: 100%;
  overflow: auto;
  transition: 0.3s all ease-in;
  .title{
    @include f-center-between();
    justify-content: flex-start;
    color: $c-primary;
  }
}

.bank__product{
  .product-resume{
    background-color: #f7f7f7;
    position: relative;
  }
}

.hideBank{
  max-height: 60px ;
  overflow: hidden;
  transition: 0.3s all ease-in;
}